/********************************************************
stylesheet for all the divs and contained text.
All the squares are styled as a class, and individual colors are assigned with an ID
********************************************************/

/* STYLING FOR THE aHEAD and MENU*/
h1.aHead{
	    font-family: Abril Fatface;
			font-size: 8vw;
}

#conBlue{
	color: #64a9bc;
}

#actYellow{
	color: #e8e574;
}

#itemGreen{
	color: #7b964d;
}

#shipRed{
	color: #ed7666
}

#menuOptions{
	font-family: 'Roboto', sans-serif;
	font-size: 3vw;
	color: #848484;
	word-spacing: 5vw;
}

/* STYLING FOR THE SQUARES WITH ANIMATIONS*/
	div.square {
		width: 300px;
   		height: 300px;
   		background-color:white;
   		z-index: -1;
			display: inline-block;
  		vertical-align: middle;
			margin: 10px;
			border-style: double;
			border-width: 10px;
			border-color: lightblue;
		}

		#action{
			border-color: #e8e574; /*yellow*/
		}

		#ship{
			border-color: #ed7666; /*coral*/
		}

		#item{
			border-color: #7b964d; /*green*/
		}

		#concept{
			border-color: #64a9bc; /*blue*/
		}


		img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
		margin-top: 25px;
		width: 250px;
		}

/*STYLING THE POPUP WINDOW WITH THE RESPONSE*/
	div.popup{
		position: fixed;
		top: 20%;
		left: 30%;
		border-style: double;
		border-width: 10px;
		border-color: lightblue;
		z-index: 3;
		background-color:white;
		visibility: hidden;
		width: 40%;
		height: 60%;
		padding: 25px;
		box-sizing: border-box;
	}

	#answerText{
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
	}

	#dimmedScreen{
		position: fixed;
		z-index: 2;
		visibility: hidden;
		background-color:white;
		width: 100%;
		height: 100%;
		opacity: 0.2;
	}

	#parentDiv{
		text-align: center;
	}
