/********************************************************
stylesheet for all the divs and contained text.
All the squares are styled as a class, and individual colors are assigned with an ID
********************************************************/
/*or lord gonna try media queries wish me luck*/

/*********************FOR BOTH*********************/

/*STYLING FOR BODY TEXT*/
h1.bHead{
	font-family: Abril Fatface;
	text-decoration: none;
	text-align: left;
	}

p.bodyCopy{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #848484;
	margin-bottom: 1.5em;
	text-align: left;
}

/* STYLING FOR THE aHEAD and MENU*/
#aHead{
	  font-family: Abril Fatface;
		text-decoration: none;
		margin-bottom: 0;
}

#menuOptions{
	font-family: 'Roboto', sans-serif;
	color: #848484;
	word-spacing: 5vw;
	text-decoration: none;
	margin-top: 0;
}

#subtitle{
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	color: #848484;
	text-decoration: none;

}

a{
	text-decoration: none;
}

/*Fixing leading on menu*/
h1.websiteTop{
		line-height: 120%;

}

/* STYLING FOR THE SQUARES WITH ANIMATIONS*/
	div.square {
  z-index: -1;
  background-color:white;
  display: inline-block;
  vertical-align: middle;
  border-style: double;
  border-width: 5px;
  cursor: pointer;
  }

/*STYLING THE POPUP WINDOW WITH THE RESPONSE*/
div.popup{
  position: fixed;
  top: 10%;
  left: 30%;
  border-style: double;
  border-width: 10px;
  border-color: lightblue;
  z-index: 3;
  background-color:white;
  visibility: hidden;
  padding: 35px;
  box-sizing: border-box;
  }

	#dimmedScreen{
		position: fixed;
		z-index: 2;
		visibility: hidden;
		background-color:white;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}

	#parentDiv{
		text-align: center;
	}

	#infoPageContainer{
		position: sticky;
		top: 50%;
		padding: 20px;
	}

	div.menuContainer{
	padding-left: 20px;

	}

	#timeStamp{
	font-family: 'Roboto', sans-serif;
	text-align: right;
	}

	#backButton{
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: #848484;
	cursor: pointer;
	}


/*SPANS FOR CHANGING TEXT TO CATEGORY COLORS*/
	#conBlue{
		color: #64a9bc;
	}

	#actYellow{
		color: #e8e574;
	}

	#itemGreen{
		color: #7b964d;
	}

	#shipRed{
		color: #ed7666;
	}

	#concept{
		border-color: #64a9bc; /*blue*/
	}

	#action{
		border-color: #e8e574; /*yellow*/
	}

	#item{
		border-color: #7b964d; /*green*/
	}

	#ship{
		border-color: #ed7666; /*coral*/
	}

	#answerText{
		text-align: center;
		font-family: 'Roboto', sans-serif;
	}

/*********************FOR DESKTOP*********************/
/* STYLING FOR TEXT NEEDED FOR INFORMATIONAL PAGES (like bHead, body copy, etc)*/
@media only screen and (min-width : 769px){ /*so this is what happens at ABOVE 600 px*/

	/*STYLING FOR BODY TEXT*/
	h1.bHead{
		font-size: 50px;
		line-height: 20%;
	}

	/* STYLING FOR THE aHEAD and MENU*/
	#aHead{
			font-size: 100pt;
	}

	#menuOptions{
		font-size: 3vw;
	}

/* STYLING FOR THE SQUARES WITH ANIMATIONS*/
	div.square {
		width: 300px;
   		height: 300px;
   		background-color:white;
			margin: 5px;
		}


		img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
		margin-top: 25px;
		width: 250px;
		}

		/*STYLING THE POPUP WINDOW WITH THE RESPONSE*/
		div.popup{
			width: 40%;
			height: 80%;
			}

	#popupTextContainer{
		position: absolute;
		width:80%;
		left: 10%;
		display: inline-block;


		height: 40%;
		bottom: 50%;

		/* border for centering
		border-style: double;
		border-width: 10px;
		border-color: black;
		*/
	}

	/*These classes are assigned to answerText when the script is called depending on the length of the answer*/
	/*121+characters*/
	p.longAnswer{
		font-size: 14pt;

	}
	/*61-120+characters*/
	p.medAnswer{
		font-size: 18pt;

	}
	/*60 characters or below*/
	p.shortAnswer{
		font-size: 24pt;

	}


	img.popupImage{
		position: absolute;
		display: block;
  	margin-left: 25%;
  	margin-right: auto;
		bottom: 5%;
		width: 15vw;
	}

	#timeStamp{
		font-size: 0.7vw;
	}

	#backButton{
		font-size: 25px;
		right: 10%;
		bottom: 10%;
	}


} /*end of media query

	/*********************FOR MOBILE*********************/
	/* STYLING FOR TEXT NEEDED FOR INFORMATIONAL PAGES (like bHead, body copy, etc)*/

@media only screen and (max-width : 768px){ /*so this is what happens at BELOW 768 px*/
	/*STYLING FOR BODY TEXT*/
	h1.bHead{
		font-size: 30pt;
		line-height: 112%;
	}

	/* STYLING FOR THE aHEAD and MENU*/
	#aHead{
			font-size: 50pt;
	}

	#menuOptions{
		font-size: 25pt;
	}

	/* STYLING FOR THE SQUARES WITH ANIMATIONS*/
	div.square {
		width: 70vw;
			height: 70vw;
			margin: 5vw;
		}

			img {
	  	display: block;
	  	margin-left: auto;
	  	margin-right: auto;
			margin-top: 15vw;
			width: 50vw;
			}

	/*STYLING THE POPUP WINDOW WITH THE RESPONSE*/
	div.popup{
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
		height: 80%;
	}

		#popupTextContainer{
			position: absolute;
			width:80%;
			left: 10%;
			display: inline-block;

			height: 40%;
			margin-top: 3%;

			/* border for centering
			border-style: double;
			border-width: 10px;
			border-color: black;
			*/

		}

		/*These classes are assigned to answerText when the script is called depending on the length of the answer*/
		/*121+characters*/
		p.longAnswer{
			font-size: 8pt;

		}
		/*61-120+characters*/
		p.medAnswer{
			font-size: 9pt;

		}
		/*60 characters or below*/
		p.shortAnswer{
			font-size: 12pt;

		}

		img.popupImage{
			position: absolute;
			display: block;
	  	margin-left: auto;
	  	margin-right: auto;
			bottom: 5%;
			width: 80%;
		}

		#timeStamp{
			font-size: 12pt;
		}

		#backButton{
			font-size: 15pt;
			right: 8%;
			bottom: 0%;
		}
} /*end of media query
