/********************************************************
stylesheet for all the divs and contained text.
All the squares are styled as a class, and individual colors are assigned with an ID
********************************************************/
/*or lord gonna try media queries wish me luck*/

/*********************FOR BOTH*********************/
	#dimmedScreen{
		position: fixed;
		z-index: 2;
		visibility: hidden;
		background-color:white;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}

	#parentDiv{
		text-align: center;
	}

	#infoPageContainer{
		position: sticky;
		top: 50%;
		padding: 20px;
	}

	div.menuContainer{
	padding-left: 20px;

	}

	#conBlue{
		color: #64a9bc;
	}

	#actYellow{
		color: #e8e574;
	}

	#itemGreen{
		color: #7b964d;
	}

	#shipRed{
		color: #ed7666;
	}

	#concept{
		border-color: #64a9bc; /*blue*/
	}

	#action{
		border-color: #e8e574; /*yellow*/
	}

	#item{
		border-color: #7b964d; /*green*/
	}

	#ship{
		border-color: #ed7666; /*coral*/
	}

/*********************FOR DESKTOP*********************/
/* STYLING FOR TEXT NEEDED FOR INFORMATIONAL PAGES (like bHead, body copy, etc)*/


h1.bHead{
	font-family: Abril Fatface;
	font-size: 50px;
	text-decoration: none;
	line-height: 20%;
	text-align: left;
}

p.bodyCopy{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #848484;
	margin-bottom: 1.5em;
	text-align: left;
}

/* STYLING FOR THE aHEAD and MENU*/
#aHead{
	  font-family: Abril Fatface;
		font-size: 75pt;
		text-decoration: none;
		margin-bottom: 0;
}

#menuOptions{
	font-family: 'Roboto', sans-serif;
	font-size: 3vw;
	color: #848484;
	word-spacing: 5vw;
	text-decoration: none;
	margin-top: 0;
}

#subtitle{
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	color: #848484;
	text-decoration: none;

}

a{
	text-decoration: none;
}

Fixing leading on menu
h1.websiteTop{
		line-height: 20%;

}

/* STYLING FOR THE SQUARES WITH ANIMATIONS*/
	div.square {
		width: 300px;
   		height: 300px;
   		background-color:white;
   		z-index: -1;
			display: inline-block;
  		vertical-align: middle;
			margin: 5px;
			border-style: double;
			border-width: 5px;
			cursor: pointer;
		}


		img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
		margin-top: 25px;
		width: 250px;
		}

/*STYLING THE POPUP WINDOW WITH THE RESPONSE*/
	div.popup{
		position: fixed;
		top: 10%;
		left: 30%;
		border-style: double;
		border-width: 10px;
		border-color: lightblue;
		z-index: 3;
		background-color:white;
		visibility: hidden;
		width: 40%;
		height: 80%;
		padding: 35px;
		box-sizing: border-box;
	}

	#popupTextContainer{
		position: absolute;
		width:80%;
		left: 10%;
		display: inline-block;

		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 1.1vw;

		height: 40%;
		bottom: 50%;

		/* border for centering
		border-style: double;
		border-width: 10px;
		border-color: black;
		*/

	}

	img.popupImage{
		position: absolute;
		display: block;
  	margin-left: 25%;
  	margin-right: auto;
		bottom: 5%;
		width: 15vw;
	}

	#timeStamp{
		font-family: 'Roboto', sans-serif;
		font-size: 1.75v;
		text-align: right;

	}

	#backButton{
		position: absolute;
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
		right: 10%;
		bottom: 10%;
		color: #848484;
		cursor: pointer;
	}


	/*********************FOR MOBILE*********************/
	/* STYLING FOR TEXT NEEDED FOR INFORMATIONAL PAGES (like bHead, body copy, etc)*/

@media only screen and (max-width : 900px){ /*so this is what happens at BELOW 768 px*/

	h1.bHead{
		font-family: Abril Fatface;
		font-size: 50pt;
		text-decoration: none;
		line-height: 112%;
		text-align: left;
	}

	p.bodyCopy{
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		color: #848484;
		margin-bottom: 1.5em;
		text-align: left;
	}

	/* STYLING FOR THE aHEAD and MENU*/
	#aHead{
		  font-family: Abril Fatface;
			font-size: 100pt;
			text-decoration: none;
			margin-bottom: 0;
	}

	#menuOptions{
		font-family: 'Roboto', sans-serif;
		font-size: 30pt;
		color: #848484;
		word-spacing: 5vw;
		text-decoration: none;
		margin-top: 0;
	}

	#subtitle{
		font-family: 'Roboto', sans-serif;
		font-size: 60px;
		color: #848484;
		text-decoration: none;

	}

	a{
		text-decoration: none;
	}

	Fixing leading on menu
	h1.websiteTop{
			line-height: 20%;

	}

	/* STYLING FOR THE SQUARES WITH ANIMATIONS*/
		div.square {
			width: 90vw;
	   		height: 90vw;
	   		background-color:white;
	   		z-index: -1;
				display: inline-block;
	  		vertical-align: middle;
				margin: 5vw;
				border-style: double;
				border-width: 5px;
				cursor: pointer;
			}

			img {
	  	display: block;
	  	margin-left: auto;
	  	margin-right: auto;
			margin-top: 15vw;
			width: 70vw;
			}

	/*STYLING THE POPUP WINDOW WITH THE RESPONSE*/
		div.popup{
			position: fixed;
			top: 10%;
			left: 20%;
			border-style: double;
			border-width: 10px;
			border-color: lightblue;
			z-index: 3;
			background-color:white;
			visibility: hidden;
			width: 60%;
			height: 80%;
			padding: 35px;
			box-sizing: border-box;
		}

		#popupTextContainer{
			position: absolute;
			width:80%;
			left: 10%;
			display: inline-block;

			text-align: center;
			font-family: 'Roboto', sans-serif;
			font-size: 12pt;

			height: 40%;
			bottom: 50%;

			/* border for centering
			border-style: double;
			border-width: 10px;
			border-color: black;
			*/

		}

		img.popupImage{
			position: absolute;
			display: block;
	  	margin-left: 20%;
	  	margin-right: auto;
			bottom: 5%;
			width: 40%;
		}

		#timeStamp{
			font-family: 'Roboto', sans-serif;
			font-size: 1.75v;
			text-align: right;

		}

		#backButton{
			position: absolute;
			font-family: 'Roboto', sans-serif;
			font-size: 25px;
			right: 10%;
			bottom: 10%;
			color: #848484;
			cursor: pointer;
		}
} /*end of media query
